*{
  margin:0;
}



.header{             
  height:100px;
  background-color:gray;
}
.nav {
  height:80px;
  background-color:white;
}

.container1{
  display: flex;
  flex-direction: row;
  height:600px;
  background-color:white;
}

.b{
    width: 20%;
    background-color: darkgreen;
}

.a{
  width: 60%;
  background-color: lightgreen;

}

.c{
  width: 20%;
  background-color: yellow;

}


.footer{             
  height:100px;
  background-color:gray;
}



/*Ipad- 481px — 768px*/

@media (min-width: 481px) and (max-width: 768px)
 {

  .container1{
  
    flex-wrap: wrap;
  }

.a{

  width: 100%;
  height: 50%;
  order: 1;
}

.b{

width: 50%;
height: 50%;
order: 2;

}

.c{

width: 50%;
height: 50%;
order: 3;

}


  }




/*Mobile device- 320px — 480px*/

@media (min-width: 320px) and (max-width: 480px)
 {
  
   .container1{

    flex-wrap: wrap;
  }

  .a{

width: 100%;
height: 50%;
order: 1;

  }

  .b{

width: 100%;
height: 25%;
order: 2;

  }

  .c{

    width: 100%;
    height: 25%;
    order: 3;




  }

}




