*{
  margin:0;
}



.header{             
  height:100px;
  background-color:gray;
}
.nav {
  height:50px;
  background-color:white;
}

.container1{
  display: flex;
  flex-direction: row;
  height:600px;
  background-color:orange;
}

.footer{
  height:100px;
  background-color:gray;
}


.container2 {

display: flex;
flex-direction: column;
width: 70%;
height: 100%;

}

.container3{

  background-color: lightgreen;
  width: 30%;
}

.upper{

height: 50%;
background-color: hotpink;
}

.lower{

  height: 50%;
  background-color: yellow;
}


/*Ipad- 481px — 768px*/

@media (min-width: 481px) and (max-width: 768px)
 {
  .container2
  {
    width: 50%; 
  }

  .container3 
 {
    width: 50%; 
  }

}




/*Mobile device- 320px — 480px*/

@media (min-width: 320px) and (max-width: 480px)
 {
  .container1{

   
   flex-direction: column;

  }

  .container2{
    width: 100%;
    height: 50%;
  }

  .container3{

    width: 100%;
    height: 50%;
  }

}


